<!DOCTYPE html>
<html>
  {%load static%}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{%static 'index.css'%}" />
    <link rel="stylesheet" href="{%static 'dashboard.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Space Grotesk:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="dt">
      <div class="dt-child"></div>
      <div class="home">Home</div>
      <div class="routes">Routes</div>
      <div class="performance">Performance</div>
      <div class="carbon-emmision">Carbon emmision</div>
      <div class="efficient-transportation-route">
        Efficient transportation routes
      </div>
      <div class="mode-of-transport">Mode of transport</div>
      <div class="donation">Donation</div>
      <div class="dt-item"></div>
      <div class="praveena-gave-you">
        Praveena gave you feedback on your Reflection on Leadership Skills
      </div>
      <div class="sriparna-gave-you">
        Sriparna gave you feedback on your Eaglebuilder on the top of the
        Thought Leadership
      </div>
      <div class="andreas-iniesta">Andreas Iniesta</div>
      <div class="dt-inner"></div>
      <div class="rectangle-div"></div>
      <div class="dt-child1"></div>
      <div class="dt-child2"></div>
      <div class="dt-child3"></div>
      <div class="activity-parent">
        <div class="activity">Activity</div>
        <div class="messages">Messages</div>
        <div class="settings">Settings</div>
        <div class="reports">Reports</div>
        <div class="review">Review</div>
        <img class="gearsix-icon" alt="" src="{%static 'settings.png'%}" /><img
          class="clockclockwise-icon"
          alt=""
          src="{%static 'settings.png'%}"
        /><img
          class="circlewavycheck-icon"
          alt=""
          src="{%static 'review.png'%}"
        /><img
          class="clipboardtext-icon"
          alt=""
          src="{%static 'reports.png'%}"
        /><img class="chattext-icon" alt="" src="{%static 'Messages.png'%}" />
      </div>
      <img class="bell-icon" alt="" src="./public/bell.svg" />
      <div class="group-parent">
        <img class="frame-child " alt="" src="{%static 'meter.png'%}" />
        <div class="frame-item"></div>
        <div class="monthly">Monthly</div>
        <div class="progress">Progress</div>
        <div class="your-point-87-container">
          <span class="your-point- ">Your Point- </span><b>8.7</b>
        </div>
        <div class="frame-inner"></div>
        <img class="caretdown-icon" alt="" src="{%static 'dropdown.png'%}" />
      </div>
      <img class="caretdown-icon1" alt="" src="{%static 'Report meter.png'%}" />
      <div class="line-parent">

        <div class="mon">Mon</div>
        <div class="hr">2 hr</div>
        <div class="hr1">4 hr</div>
        <div class="hr2">6 hr</div>
        <div class="hr3">8hr</div>
        <div class="tue">Tue</div>
        <div class="wed">Wed</div>
        <div class="thur">Thur</div>
        <div class="fri">Fri</div>
        <div class="fri1">Fri</div>
        <div class="sat">Sat</div>
        <div class="frame-child11"></div>
        <div class="frame-child12"></div>
        <div class="time-spent">Time spent</div>
        <div class="weekly">Weekly</div>
        <img class="caretdown-icon2" alt="" src="{%static 'dropdown.png'%}" />
      </div>
      <div class="donate-wrapper"><div class="donate"><a href ="{% url 'donate' %}">Donate</a></div></div>
      <div class="dt-child4"></div>
      <div class="akshya-nagar-1st">
        Akshya Nagar 1st Block ,Rammurthy nagar, Bangalore-560016
      </div>
      <div class="bus-tn-">Bus (TN - GH9065) , 40 min</div>
      <div class="train-080970395">Train (080970395) , 20 min</div>
      <div class="taxi-tn-">Taxi (TN - JK9045) , 50 min</div>
      <div class="taxi-tn-1">Taxi (TN - JK9045) , 50 min</div>
      <div class="bandari-mansion-spetblr-53">
        639, Bandari Mansion, S;petblr-53, Chickpet
      </div>
      <div class="st-guru-kripa">
        1st, Guru Kripa, Mamletdarwadi , 1st Cross, Malad
      </div>
      <div class="r-v-road">R V Road, South End Circle,opp Bang Hospital</div>
      <img class="ellipse-icon" alt="" src="{% static 'profile.png' %}" />
      <div class="dt-child5"></div>
      <div class="dt-child6"></div>
      <div class="dt-child7"></div>
      <div class="dt-child8"></div>
      <div class="dt-child9"></div>
      <div class="dt-child10"></div>
      <div class="user-id-">User Id - AK934</div>
      <div class="wildlife-protection-society">
        Wildlife protection society of india
      </div>
      <div class="y4d-foundation">Y4D Foundation</div>
      <div class="world-wide-fund">World wide fund (WWF - india )</div>
      <div class="rs-4000">RS 4000</div>
      <div class="rs-1000">RS 1000</div>
      <div class="rs-10001">RS 1000</div>
      <div class="dt-child11"></div>
      <img class="caretdown-icon3" alt="" src="{% static 'profile.png' %}"/>
      <div class="profile">Profile</div>
      
      <div class="vector-parent">
        <img class="group-child" alt="" src="./public/rectangle-28.svg" /><img
          class="avatars1"
          alt=""
          src="{%static '1.png'%}"
        />
        <img
          class="avatars2"
          alt=""
          src="{%static '2.png'%}"
        /><img
          class="avatars3"
          alt=""
          src="{%static '3.png'%}"
        />
        <div class="i">
          I feel gradually the clarity is getting clear more and more as we just
          perform and no matter
        </div>
        <div class="quiz">
          Quiz making is like poetry, you can convey your thoughts in a way
          stimulates
        </div>
        <div class="do-you-want">
          Do you want to learn about to make Discuss rooms Transformational
          instead of transactional?
        </div>
      </div>
      <img class="notepencil-icon" alt="" src="./public/notepencil.svg" />
      <div class="dt-child12"></div>
      <img class="group-icon" alt="" src="{%static '2.png'%}" />
      <div class="search">Search</div>
      <div class="progress1">Progress</div>
      <div class="carbon-emission">
        <p class="carbon">Carbon</p>
        <p class="carbon">emission</p>
      </div>
      <div class="rewards">Rewards</div>
      <div class="money-spent">Money spent</div>
      <img
        class="avatars4"
        alt=""
        src="{%static '4.png'%}"
      /><img
        class="avatars5"
        alt=""
        src="{%static '5.png'%}"
      />
      <div class="rucha-gave-you-feedback-on-you-parent">
        <div class="rucha-gave-you">
          Rucha gave you feedback on your Threadbuilder on Exponents
        </div>
        <img
          class="avatars-default-with-backdrop6"
          alt=""
          src="{%static '6.png'%}"
        />
      </div>
      <div class="rucha-gave-you-feedback-on-you-group">
        <div class="rucha-gave-you">
          Rucha gave you feedback on your Threadbuilder on Exponents
        </div>
        <img
          class="avatars-default-with-backdrop6"
          alt=""
          src="{%static 'Avatars Default with Backdrop.png'%}"
        />
      </div>
      <img
        class="icon"
        alt=""
        src="./public/dotsthreevertical.svg"
      /><img
        class="icon1"
        alt=""
        src="./public/dotsthreevertical.svg"
      /><img
        class="icon2"
        alt=""
        src="./public/dotsthreevertical.svg"
      /><img
        class="icon3"
        alt=""
        src="./public/dotsthreevertical.svg"
      />
      <div class="chats">Chats</div>
      <img class="caretdown-icon4" alt="" src="./public/caretdown3.svg" /><img
        class="logo"
        alt=""
        src="{%static 'logo2.png'%}"
      />
    </div>
  </body>
</html>