<!DOCTYPE html>
{%load static%}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{%static 'donate.css'%}" />
    <link rel="stylesheet" href="{%static 'index.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <div class="home">Home</div>
      <div class="dashboard">Dashboard</div>
      <div class="donate">Donate</div>
      <div class="transport">Transport</div>
      <div class="search">Search</div>
      <div class="frame-item"></div>
      <div class="save-the-nature">Save the Nature</div>
      <div class="its-time-to">
        It’s time to save the nature for our future generations
      </div>
      <div class="its-time-to">
        It’s time to save the nature for our future generations
      </div>
      <div class="its-time-to">
        It’s time to save the nature for our future generations
      </div>
      <div class="rectangle-group">
        <div class="group-child"></div>
        <div class="donate1">Donate</div>
      </div>
      <img class="frame-inner" alt="" src="{%static 'P4.jpg'%}" /><img
        class="rectangle-icon"
        alt=""
        src="{%static 'P6.jpg'%}"
      />
      <div class="rectangle-div"></div>
      <div class="protect-nature">“Protect nature , Secure our Future”</div>
      <div class="line-div"></div>
      <div class="frame-child1"></div>
      <div class="srm-nagar-potheri">SRM nagar, Potheri</div>
      <b class="april">20 April</b
      ><img class="group-icon" alt="" src="{%static 'Group 25.png'%}" />
    </div>
  </body>
</html>