<!DOCTYPE html>
<html>
  {%load static%}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{%static 'home.css'%}" />
    <link rel="stylesheet" href="{%static 'index.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </head>
  <body>
    
    {% comment %} body {% endcomment %}
    <div class="home">
      <img class="home-child" alt="" src="./public/vector-2.svg" />
      <div class="home-item"></div>
      <b class="hitchhikers-hub"
        ><p class="hitchhikers">Hitchhiker’s</p>
        <p class="hub">Hub</p></b
      ><b class="bringing-accurate-and-container"
        ><span>“B</span
        ><span class="ringing-accurate-and"
          >ringing Accurate and Timely Information
        </span></b
      ><b class="help-preserve-our"
        >"Help Preserve Our Planet: Donate to Support Nature Conservation"</b
      ><b class="contact-us">Contact Us</b
      ><b class="insightful-analysis-and-container"
        ><span>Insightful </span><span class="analysis">Analysis</span
        ><span> and Comprehensive Coverage</span></b
      ><b class="efficient-transportation-aroun-container"
        ><span>"Efficient transportation around the city to reduce </span
        ><span class="analysis">carbon </span><span>emission"</span></b
      ><b class="about-the-carbon-container"
        ><span> About the carbon </span
        ><span class="analysis">emission</span></b
      >
      <div class="welcome-to-our">
        Welcome to our website Clean emit Our mission is to raise awareness and
        encourage action towards a sustainable future for our planet. Here,
        you'll find information on the latest environmental news, tips on how to
        reduce your carbon footprint, and resources to help you make a positive
        impact.
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="ask-for-a" href="{% url 'index' %}">Ask for a Ride</div>
      </div>
      <div class="welcome-to-our1">
        Welcome to our website Clean emit We are a team of passionate
        individuals who are dedicated to promoting sustainability and
        environmental awareness. Our mission is to provide resources and
        information to inspire individuals and communities to take action
        towards a greener future.
      </div>
      <div class="your-contribution-can">
        Your contribution can make a significant difference in the lives of
        those affected by natural disasters, providing essential r esources and
        aid to those who need it most . Your support can help provide shelter,
        food, clean water, and medical assistance to those affected by
        hurricanes, floods, wildfires, earthquakes, and other emergencies .
        Please donate today and help us rebuild communities and restore hope.
      </div>
      <div class="dashboard-section-provide">
        Dashboard section provide in-depth coverage and analysis of carbon
        enission and emergencies around the city. Our reports feature detailed
        information and expert commentary on the impacts of these events on
        health, infrastructure, and the environment.
      </div>
      <div class="disaster-relief-helpline">
        Disaster Relief Helpline! We are here to provide immediate assistance
        and resources to those affected by disasters such as floods, hurricanes,
        earthquakes, and wildfires
      </div>
      <div class="rectangle-group">
        <img class="group-item" alt="" src="{% static 'P1.jpg' %}" /><img
          class="group-inner"
          alt=""
          src="{% static 'P2.jpg' %}"
        />
      </div>
      <div class="rectangle-container">
        <div class="rectangle-div"></div>
        <img class="rectangle-icon" alt="" src="{% static 'P3.jpg' %}" />
      </div>
      <div class="group-div">
        <div class="group-child1"></div>
        <img class="group-child2" alt="" src="{% static 'P4.jpg' %}" />
      </div>
      <div class="rectangle-parent1">
        <div class="group-child3"></div>
        <div <a  href="{% url 'dashboard'%}" >>Dashboard</div>
      </div>
      <div class="rectangle-parent2">
        <div class="group-child3"></div>
        <div class="transport">Transport</div>
      </div>
      <div class="rectangle-parent3">
        <div class="group-child"></div>
        <div class="donate">Donate</div>
      </div>
      <div class="home-parent">
        <div class="home1">Home</div>
        <div class="dashboard1">Dashboard</div>
        <div class="donate1">Donate</div>
        <div class="transport1">Transport</div>
        <div class="search">Search</div>
        <div class="group-child6"></div>
      </div>
      <div class="home-inner"></div>
      <div class="about-us">About us</div>
      <div class="donate2">Donate</div>
      <div class="transportation">Transportation</div>
      <div class="enter-your-email">Enter your email</div>
      <div class="contact-us1">Contact us</div>
      <div class="support">Support</div>
      <div class="help">Help</div>
      <div class="dashboard2">Dashboard</div>
      <div class="home-child1"></div>
      <div class="submit">Submit</div>
    </div>
  </body>
</html>