<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{%static 'transportation.css'%}" />
    <link rel="stylesheet" href="{%static 'index.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="rectangle-parent">
      <div class="frame-child"></div>
      <div class="home">Home</div>
      <div class="dashboard">Dashboard</div>
      <div class="donate">Donate</div>
      <div class="transport">Transport</div>
      <div class="search">Search</div>
      <div class="frame-item"></div>
      <div class="hometransport">Home/Transport</div>
      <b class="efficient-transportation-mode">Efficient Transportation mode</b>
      <div class="frame-inner"></div>
      <div class="bus-tn-">Bus (TN - GH9065) , 40 min</div>
      <div class="train-080970395">Train (080970395) , 20 min</div>
      <div class="taxi-tn-">Taxi (TN - JK9045) , 50 min</div>
      <div class="location">Location</div>
      <div class="price">Price</div>
      <img class="ellipse-icon" alt="" src="{%static 'bus.png'%}" /><img
        class="frame-child1"
        alt=""
        src="{%static 'train.png'%}"
      /><img class="frame-child2" alt="" src="{%static 'taxi.jpg'%}" />
      <div class="akshya-nagar-1st">
        Akshya Nagar 1st Block ,Rammurthy nagar, Bangalore-560016
      </div>
      <div class="rs-50">RS 50</div>
      <div class="kt">17.8 KT</div>
      <div class="kt1">42 KT</div>
      <div class="kt2">48.3 KT</div>
      <div class="rs-20">RS 21.5
      </div>
      <div class="rs-150">RS 150</div>
      <div class="bandari-mansion-spetblr-53">
        639, Bandari Mansion, S;petblr-53, Chickpet
      </div>
      <div class="r-v-road">R V Road, South End Circle,opp Bang Hospital</div>
      <div class="carbon-emission">Carbon emission</div>
      <div class="rewards"><p class="rewards1">Rewards</p></div>
      <div class="wrapper"><div class="div">6</div></div>
      <div class="container"><div class="div">5</div></div>
      <div class="frame"><div class="div">4</div></div>
      <img class="vector-icon" alt="" src="coins.png" /><img
        class="vector-icon1"
        alt=""
        src="award.png"
      /><img class="vector-icon2" alt="" src="coins.png" />
      <div class="rectangle-div"></div>
      <div class="rs">50 RS</div>
      <div class="points">10 Points</div>
      <div class="kt3">33% saved</div>
      <div class="bus">Bus</div>
      <div class="frame-child3"></div>
      <div class="choose">Choose</div>
      <img class="average-icon" alt="" src="coins.png" /><img
        class="prize-icon"
        alt=""
        src="award.png"
      /><img
        class="manufacturing-icon"
        alt=""
        src="emisssion.png"
      />
    </div>
  </body>
</html>